<h2>Products</h2>

<section *ngFor="let product of products; index as productId">
  <h3>
    <!--title property bindingilla, näkyy leijuttaessa kursoria html-elementin päällä joko noin:
    <a [title]="product.name + ' details'">
      tai kuten alla:-->
    <a title="{{ product.name + ' details' }}"
    [routerLink]="['/products', productId]">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">Description: {{ product.description }}</p>

  <button (click)="share()">
    Share
  </button>

  <app-product-alerts
  [product]="product"
  (notify)="onNotify()">
</app-product-alerts
>
</section>
